.logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.header {
  text-align: center;
  background-color: #222;
  height: 160px;
  padding: 20px;
  color: white;
}

.header a {
  text-decoration: none;
  color: white;
}

.title {
  font-size: 1.5em;
}

.menu a {
  text-align: start;
  text-decoration: none;
  color: white;
}

.menu span {
  text-decoration: none;
  color: white;
}

.nav {
  float: left;
}

.user {
  float: right;
}

.user a {
  margin-left: 1em;
}

.content { display: table-row; height: 100%; }
.content-body {
  display: table-cell;
  text-align: center;
}

.footer {
  background-color: #222;
  height:100px;   /* Height of the footer */
  color: white;
  text-align: start;
  padding: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
