.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 160px;
  padding: 20px;
  color: white;
}

.App-header a {
  text-decoration: none;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-menu a {
  text-align: start;
  text-decoration: none;
  color: white;
}

.App-menu span {
  text-decoration: none;
  color: white;
}

.App-nav {
  float: left;
}

.App-user {
  float: right;
}

.App-user a {
  margin-left: 1em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
